server:
  port: 8083

spring:
  application:
    name: fournisseur-service

  datasource:
    url: jdbc:mysql://localhost:3306/db_fournisseurs?createDatabaseIfNotExist=true
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  data:
    rest:
      base-path: /api/fournisseurs/data

  graphql:
    graphiql:
      enabled: true
      path: /graphiql

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}